@media (min-width: 1200px){
    .container {
        max-width: 1300px !important;
    }
}


#tblListProduct td img{
    width: 45%;
    align-items: center;

}
.action{
    width: 150px;
}
.back:link , .back:visited{
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    width: 120px;
    height: 38px;

}.sp-thongbao{
    color: red;
  }