.modal-dialog,
.modal.right .modal-dialog {
  margin: auto;
  height: 100%;
}

.modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
}

/*Right*/
.modal.right.fade .modal-dialog {
  right: -220px;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none;
  width: 1000px;
}

.modal-header {
  border-bottom-color: #eeeeee;
  background-color: #fafafa;
}
