body {
  background-color: #4ca1af;
  background-image: linear-gradient(135deg, #4ca1af 0%, #c4e0e5 100%);
}

button {
  cursor: pointer !important;
}
h1 {
  position: absolute;
  color: #fff;
  left: 20px;
  top: 20px;
}
@media (min-width: 1200px){
  .container {
      max-width: 1400px !important;
  }
}


.slick-slider {
  display: grid !important;
  margin-top: 180px;
  height: 75vh;
  padding-top: 60px;
  justify-content: space-between;
  grid-template-columns: auto auto auto auto;
}

.slick-list {
  background-color: #4ca1af;
}

.slick-track {
  padding: 20px;
}

.thumb-wrapper {
  background-color: #fff;
  width: 280px !important;
  height: 450px !important;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;

  text-align: center;
  box-shadow: 13px 18px 32px 15px rgb(92, 195, 199);
  transition: 0.5s;
}

.thumb-wrapper img {
  width: 150px;
  margin: auto;
}

.thumb-content {
  max-height: 100px;
}

.thumb-content h4 {
  margin: 10px;
}

.thumb-wrapper:hover {
  transform: translate(-2rem, -1ex);
}

/* icon */

.cart {
  display: flex;
  width: 50px;
  top: 20px;
}

.cart i {
  font-size: 45px;
  position: absolute;
  right: 2rem;
  top: 1.2rem;
  color: black;
}

.cart span {
  position: absolute;
  height: 1rem;
  width: 1rem;
  background: white;
  color: black;
  border-radius: 50%;
  border: 1px solid white;
  text-align: center;
  line-height: 1rem;
  font-weight: 600;
  top: 1rem;
  right: 1.5rem;
}

.cart button {
  border: none;
  background: none;
  color: #fff;
  cursor: pointer;
}

.select {
  position: relative;
  top: 120px;
  width: 100%;
}

.select select {
  width: 520px;
}

.img-responsive {
  width: 100%;
}

.add-btn {
  margin-top: 90px;
}

.change_qty {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  vertical-align: middle;
}
.change_qty button {
  margin: auto;
}

.change_qty p {
  font-size: 20px;
  padding: 32px 10px 20px 10px;
}

.manager{
  position: absolute;
  right: -230px;
}
.manager:link, .manager:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  top: -8px;
}
